<ul class="nav mb-2 justify-content-center mb-md-0">
        
    <li><a routerLink="" class="nav-link px-2 text-white">Inicio</a></li>
    <li><a routerLink="/admin/gestion-cursos" class="nav-link px-2 text-white">Gestionar Cursos</a></li>
    <li><a routerLink="/admin/gestion-servicios" class="nav-link px-2 text-white">Gestionar Servicios</a></li>
    <li><a routerLink="/admin/gestionar-pagos" class="nav-link px-2 text-white">Gestionar Pagos</a></li>
    <li><a routerLink="/admin/gestionar-agenda" class="nav-link px-2 text-white">Gestionar Agenda</a></li>
</ul>

