<!-- Header -->
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>

      </a>

      <ul class="nav col-2 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Inicio</a></li>
        <ng-container *ngIf="!isLogged; else logged">
        </ng-container>
        <ng-template #logged>
          <li><span class="nav-link px-2 text-white">Hola {{ email }}</span></li>
          <li *ngIf="isAdmin"><a href="/gestion-cursos" class="nav-link px-2 text-white">Gestionar Curso</a></li>
          <li *ngIf="isAdmin"><a href="/gestion-servicio" class="nav-link px-2 text-white">Gestionar Servicio</a></li>
          <li *ngIf="!isAdmin"><a href="/inscripciones" class="nav-link px-2 text-white">Inscripciones</a></li>
          <li *ngIf="!isAdmin"><a href="/citas" class="nav-link px-2 text-white">Citas</a></li>
          <li><a href="#" class="nav-link px-2 text-white" (click)="logout()">Logout</a></li>
        </ng-template>
      </ul>

      <div *ngIf="!isLogged" class="text-end">
        <button type="button" class="btn btn-outline-light me-2" routerLink="/login">Login</button>
        <button type="button" class="btn btn-warning" routerLink="/registro">Registro</button>
      </div>
    </div>
  </div>
</header>


<div class="seccion-pagina p-4">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4
    border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">&copy; 2024 - Barbería VIP</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter
    fs-5"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-instagram
    fs-5"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook
    fs-5"></i></a></li>
    </ul>
  </footer>
</div>